extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', enctype='multipart/form-data', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value=user.email)
    .form-group
      label.col-sm-3.control-label(for='fullname') Full Name
      .col-sm-7
        input.form-control(type='text', name='fullname', id='fullname', value=user.fullname)
    .form-group
      label.col-sm-3.control-label Gender
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
          span Other
    .form-group
      label.col-sm-3.control-label(for='Birthdate') Birthdate
      .col-sm-7
        input.form-control(type='date', name='birthdate', id='birthdate', value=user.profile.birthdate)
    .form-group
      label.col-sm-3.control-label(for='zipcode') Zipcode
      .col-sm-7
        input.form-control(type='text', pattern="[0-9]{5}", placeholder='5 digit number', name='zipcode', id='zipcode', value=user.zipcode)
    .form-group
      label.col-sm-3.control-label(for='biography') Biography
      .col-sm-7
        input.form-control(type='text', name='biography', id='biography', placeholder='Something about yourself', value=user.profile.biography)
    .form-group
      label.col-sm-3.control-label Profile Picture
      .col-sm-4
        if user.profile.picture
          img(src=user.profile.picture, class='profile', width='300', height='300')
        else
          img(src=user.gravatar(), class='profile', width='200', height='200')
        h4 Upload Profile Picture
        input(type='file' name='user-pic')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Dog Information
  ul
    each dog in dogs
      li
        h4
          a(href='/dog/'+dog._id)= dog.name
        div
          if dog.picture.length
            img(src=dog.picture[0], class='profile', width='200', height='200')
          else
            img(src='/imgs/default-dog.png', class='profile', width='200', height='200')
        div Breed: 
          span= dog.breed
        p= dog.age
        a.btn.btn-info(href='/dog/'+dog._id) Edit
        form.form-horizontal(action='/dog/delete/'+dog._id, method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          br
          button.btn.btn-danger(type='submit') Delete


  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account
