extends layout

block content
  h1 Dashboard
  div
    h3 Nearby Dogs
    ul
      each person in result
        li
          each dog in person.dogs
            a(href='/dog/'+dog._id)
              div
                if dog.picture.length
                  img(src=dog.picture[0], class='profile', width='200', height='200')
                else
                  img(src='/imgs/default-dog.png', class='profile', width='200', height='200')
            div
              span=dog.name
              span !{' '}-!{' '}
              span=person.city
              span ,!{' '}
              span=person.state